<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFService.WCFServiceBehavior" name="WCFServiceB.WCFServiceB" >
        <endpoint 
          address="WCFServiceB" 
          binding="netTcpBinding" 
          bindingConfiguration="BindingConfiguration"
          contract="WCFServiceB.IWCFServiceB">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9002/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFService.WCFServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="BindingConfiguration">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>