<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="WCFServiceA" address="http://localhost:8001/WCFRoutingService" binding="basicHttpBinding" contract="WCFServiceA.IWCFServiceA"/>
      <endpoint name="WCFServiceB" address="http://localhost:8001/WCFRoutingService" binding="basicHttpBinding" contract="WCFServiceB.IWCFServiceB"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
