<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior"
               name="System.ServiceModel.Routing.RoutingService">
        <host>
          <baseAddresses>
            <add  baseAddress="http://localhost:8001/"/>
          </baseAddresses>
        </host>
        <endpoint name="requestReplyEndpoint"
                  address="WCFRoutingService"
                  binding="basicHttpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <routing filterTableName="WCFRoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding">
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <client>
      <endpoint name="EndPointA" 
                address="http://localhost:9001/WCFServiceA"
                binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
                contract="*" />
      <endpoint name="EndPointB" 
                address="net.tcp://localhost:9002/WCFServiceB"
                binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="*" />
    </client>
    <routing>
      <filters>
        <filter name="MatchA" filterType="Action" filterData="SayHello" />
        <filter name="MatchB" filterType="Action" filterData="SayBye" />
      </filters>
      <filterTables>
        <filterTable name="WCFRoutingTable">
          <add filterName="MatchA" endpointName="EndPointA" />
          <add filterName="MatchB" endpointName="EndPointB" />
        </filterTable>
      </filterTables>
    </routing>
    
  </system.serviceModel>
</configuration>